.card{
    background: white;
    padding: 0rem;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    border-radius: 7px;
    overflow: hidden;
    height: 250px;
    /* max-height: 300px; */
}

.spin{
  animation: 2s linear 0s infinite alternate spin;
}

.soe{
  display: none;
}

.card .header{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    overflow: hidden;
}

.card .header > img{
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    max-height: 200px;
    object-position: center;
    padding: 0;
}

.card .header .rank{
    position: absolute;
    text-align:center;
    margin-top: -30px;
    margin-left: 5px;
    font-size: 1rem;
    color: white;
}

.card .title{
    padding: 0rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    height: 45px;
    font-family: 'Nunito';
}

.card .body{
    font-size: .9rem;
    padding: 1rem;
    
}

.card .footer{
    margin-top: 0rem;
}

.ribbon4 a{
    color: white;
}

.ribbon4 {
    padding: 8px 10px;
    background: #00B3ED;
    box-shadow: -1px 2px 3px rgba(0,0,0,.3);
    border-radius: 0px 5px 5px 0px;
    color: white;
  }

  .rTitle{
    margin-top: -10px;
    height: 60px;
    font-size: 2rem;
    text-align: center;
  }

  .rRating{
    position: absolute;
    margin-top: -180px;
  }

  .ribbon4:before, .ribbon4:after {
    content: "";
    position: absolute;
    
  }
  .ribbon4:before {
    width: 7px;
    height: 121%;
    top: 0px;
    left: -6.5px;
    padding: 0 0 7px;
    background:#00B3ED;
    border-radius: 5px 0 0 5px;
    
    
  }
  .ribbon4:after {
    width: 5px;
    height: 10px;
    bottom: -10px;
    left: -4.5px;
    background: lightblue;
    border-radius: 5px 0 0 5px;
    
    
   }

   .ratingCircle{
    background-color:rgba(0, 0, 0, 0.137);
    position:absolute;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-top: -180px;
    margin-left: 530px;
    /* box-shadow: 0 4px 0px 0px rgba(46, 46, 46, 0.25); */
    text-align:center;
    color: yellow;
   }

   .ratingCircle h2{
    color: yellow;
    margin-top: -1px;
    font-size: 1.9rem;
   }

   .ratingCircle span{
    color: yellow;
    position: relative;
    left: 22px;
    top: 2px;
    font-size: 1.8rem;
   }

.ribbon4Two a{
    color: white;
}

.ribbon4Two {
    position: absolute;
    margin-top: -195px;
    padding: 8px 10px;
    background: #00B3ED;
    box-shadow: -1px 2px 3px rgba(0,0,0,.3);
    border-radius: 0px 5px 5px 0px;
    color: white;
    
  }
  .ribbon4Two:before, .ribbon4Two:after {
    content: "";
    position: absolute;
    
  }
  .ribbon4Two:before {
    width: 7px;
    height: 121%;
    top: 0px;
    left: -6.5px;
    padding: 0 0 7px;
    background:#00B3ED;
    border-radius: 5px 0 0 5px;
    
    
  }
  .ribbon4Two:after {
    width: 5px;
    height: 10px;
    bottom: -10px;
    left: -4.5px;
    background: lightblue;
    border-radius: 5px 0 0 5px;
   }

   @media all and (max-width: 600px){


    .card .header > img{
      display: block;
      width: 200px;
      height: 200px;
      aspect-ratio: 16/9;
      object-fit: cover;
      object-position: center;
      padding: 0px;
  }

    .card .title{
      font-size: .9rem;
      width: 100%;
      margin-left: 0.4rem;
    }

    .ribbon4 {
      padding: 1px 10px;
    }

    .rTitle{
      position: relative;
      height: 50px auto;
      margin-top: -15px;
      text-align: center;
      border-radius: 0px;
      box-shadow: -1px 2px 20px rgba(0,0,0,.3);
      background-color: #0fbcf9;
      font-size: 1.2rem;
      
    }

    .rRating{
      margin-top: -190px;
    }

    .ratingCircle{
      width: 50px;
      height: 50px;
      margin-left: 120px;
      margin-top: -190px;
    }

    .ratingCircle h2{
      margin-top: -1px;
      font-size: 1.7rem;
     }
  
     .ratingCircle span{
      left: 15px;
      top: 2px;
      font-size: 1.5rem;
     }
  }

  @keyframes spin{
    from{
      transform: rotate(3deg);
    }
    to{
      transform: rotate(-3deg);
    }
  }

   