.boxlist{
    display: flex;
    flex-flow: row;
    gap: 5px;
    /* justify-content: space-around; */
    padding: 5px;
    margin: 0;
    list-style: none;
    overflow-x: scroll;
}

/* .boxlist .box{
    background: rgb(254, 254, 254) no-repeat center center/cover;
    padding: 0px;
    width: 300px;
    height: 500px;
    margin-top: 10px;
    line-height: 0px;
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-align:center;
    border-radius: 20px;
    
} */

/* .featured{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 20px;
} */

.headerfeatured{
    font-size: 2.5rem;
}

@media all and (max-width: 600px){

    .headerfeatured{
        margin-left: 20px;
    }
}