.featurecard{
    background: rgb(254, 254, 254) no-repeat center center/cover;
    padding: 0px;
    width: 300px;
    height: 500px;
    margin-top: 10px;
    line-height: 40px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    text-align: center;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
}

.soe{
    display: none;
}

.featurecard .title{
    color: white;
    font-size: 2.5rem;
    font-family: nunito;
    width: 150px;
}

.featurecard h2{
    position: relative;
    bottom: 300px;
    left: 60px;
}

.featurecard img{
    /* opacity: 1; */
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 20px;

    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

.featurecard img:hover{
    -webkit-filter: brightness(100%);
}

@media all and (max-width: 600px){
    .featurecard{
        width: 175px;
        height: 275px;
        line-height: 20px;
        
    }

    .featurecard h2{
        bottom: 150px;
        left: 0px;
    }

    .featurecard .title{
        font-size: 1.5rem;
    }
}