
.rw{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: auto;
}

.row.address{
    margin-top: 0px;
}

.bx{
    border-radius: 10px;
    width: 300px;
    height: 50px;
    margin: auto;
    padding:8px;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    display: flex;
    align-items: center;
}

.bx span{
    gap: 10px;
    margin-left: 5px;
}

.bx.phone{
    font-size: 1.6rem;
}

.bx.phone h2{
    margin: auto;
}

.bx.website{
    font-size: 1.5rem;
}

.bx.website span{
    padding-left: 0px;
}

.bx.website h2{
    margin: auto;
}

.bx.address h2{
    width: 100%;
    height: fit-content;
    font-size:.9rem;
    padding: 0px;
    text-align: center;
    
}

.bx.address span{
    font-size: 1.6rem;
    margin: auto;
}

.bx h2{
    color: white; 
}

.red{
    background-color: #d23f31;
}

.blue{
    background-color: #4285f4;
}

.green{
    background-color: #0f9d58;
}

.orange{
    background-color: #e67e22;
}

.yellow{
    background-color:#f1c40f;
}

.bxm{
    border-radius: 10px;
    width: 200px;
    height: 50px;
    margin: auto;
    padding:8px;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    display: flex;
    align-items: center;
}

.bxm span{
    gap: 10px;
    margin-left: 5px;
}

.bxm.phone{
    font-size: 1.1rem;
}

.bxm.phone h2{
    margin: auto;
}

.bxm.website{
    font-size: 1.3rem;
}

.bxm.website span{
    padding-left: 0px;
}

.bxm.website h2{
    margin: auto;
}

.bxm.address h2{
    width: 100%;
    height: fit-content;
    font-size:.7rem;
    padding: 0px;
    text-align: center;
    
}

.bxm.address span{
    font-size: 1.6rem;
    margin: auto;
}

.bxm h2{
    color: white; 
}