.phc{
    background-color: white;
    border-radius: 5px;
    border-width: 5px;
    border-color: #06d574ab;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
}

.phc .pihc{
    width: 100%;
    height: 200px;
    margin: auto;
}

.phc .pihc img{
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    padding: 0px;
}

.phc .pht{
    background-color: rgba(183, 183, 183, 0.278);
    width: 100%;
    height: 50%;
    font-size: 1.2rem;

}

.phc .slc{
    background-color: transparent;
    display: flex;
    flex-flow: row;
    width: 95%;
    margin: auto;
    padding: 0px;
    gap: 77%;
    margin-top: 20px;
    border-bottom-width: 2px;
}

.slc .lbc{
    display: flex;
    flex-flow: row;
    gap: 5px;
    width: 100%;
    height: 100%;
    align-items: center;
}

.lbc .lc{
    font-size: 1.5rem;
    
}

.lbc .lbh{
    font-size: 1.5rem;
   
}

.slc .pcb{
    font-size: 1.5rem;
    display: flex;
    flex-flow: row;
    height: 100%;
    width: 100%;
    align-items: center;
}

.pch{

    border-radius: 7px;
    border-width: 2px;
    margin-top: 10px;
    padding: 5px;
    
}

.pch .pcc{
    display: flex;
    flex-flow: column-reverse;
    width: 95%;
    height: 100%;
    margin: auto;
    padding: 0px;
    gap: 10px;
    margin-top: 0px;
}

.pcc .pci{
    margin: 3px;
    border-radius: 5px;
    border-width: 2px;
}

.notLiked{
    color: #303030;
}

.red{
    
    color: #ff3f34;
}