.rc{
    background-color: transparent;
    width: 80%;

    border-radius: 10px;
    margin: auto;
    padding: 1px;
    position: relative;
    bottom: 7px;
    z-index: 0;

    box-shadow: 0 7px 5px 0 rgba(0,0,0,.2);
}


.rc .rcmc{
   
}

.rc .rci{
    width: 95%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    
}

.rc .rsc{
    margin-top: 30px;
}

.rsc .rct{
    width: 80%;
    margin: auto;
    font-size: 1.6rem;
    text-align: center;
}

.rsc .rcrc{
    text-align: center;
}

.rsc .rcrc h2{
    width: 95%;
    font-size: 1.3rem;
    margin: auto;    
}

.rcrc .rhl{
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    overflow-x: hidden;
    
}

.rcrc h2{
    font-size: 1.2rem;
    margin-top: 10px;
}

.rcrc .rhrc{
    background-color: rgba(174, 174, 174, 0.155);
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
    border-width: 0px;
    border-radius: 5px;
    box-shadow: 0 7px 5px 0 rgba(0,0,0,.2);
}

.rhrc .rhd{
    margin-top: 10px;
}

.rhrc .rhr{
    font-size: .9rem;
    width: 100%;
    height: fit-content;
    margin: auto;
    padding: 10px;
    text-align: center;
}