.sc{
   
}


.sc .sht{
    width: 90%;
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
}

.spic{
    width: 90%;
    margin: auto;
}

.sfc{
    background-color: white;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

.sfc .sfl{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 30px;
    padding: 0px;
}

